{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}


{% block menu %}
<span class="label">
    <span class="icon"><img src="{{ asset('bundles/webprofiler/images/profiler/logger.png') }}" alt="Logger" /></span>
    <strong>All Logs</strong>
</span>
{% endblock %}

{% block panel %}
	<link rel="stylesheet" href="{{ asset('bundles/fslog4php/style/datatables.css') }}" />
	<script src="{{ asset('bundles/fslog4php/js/jquery.js') }}"></script>
	<script src="{{ asset('bundles/fslog4php/js/jquery.dataTables.js') }}"></script>
	<script>
		$(document).ready(function() {
		    $('.logs').dataTable();
		} );
	</script>
	
    {% if collector.logs %}
    	{% for logfile in collector.logs %}
	    	<p><h3>{{ logfile.getLogFileName() }}</h3></p>
	    	<table class="logs">
	           	<thead>
	           		<tr>
	           			<th>Time</th>
	           			<th>Logger</th>
	           			<th>Level</th>
	           			<th>Message</th>
	           		</tr>
	           	</thead>
	           	<tbody>
			        {% for logEntry in logfile.getLogEntries() %}
			        	<tr>
			        		<td>{{ logEntry.getDate() }}</td>
							<td>{{ logEntry.getLogger() }}</td>
							<td>{{ logEntry.getLevel() }}</td>
							<td>{{ logEntry.getMessage() }}</td>        	
			        	</tr>
			        {% endfor %}
	        	</tbody>
	        </table>
	        <br />
        {% endfor %}
    {% else %}
        <p>
            <em>No logs available.</em>
        </p>
    {% endif %}

{% endblock %}