{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}


{% block menu %}
<span class="label">
    <span class="icon"><img src="{{ asset('bundles/webprofiler/images/profiler/logger.png') }}" alt="Logger" /></span>
    <strong>All Logs</strong>
</span>
{% endblock %}

{% block panel %}
    {% if collector.logs %}
    	{% for logfile in collector.logs %}
	    	<p><h3>{{ logfile.getLogFileName() }}</h3></p>
	    	<table>
	           	<thead>
	           		<tr>
	           			<th>Logger</th>
	           			<th>Level</th>
	           			<th>Message</th>
	           		</tr>
	           	</thead>
	           	<tbody>
			        {% for logEntry in logfile.getLogEntries() %}
			        	<tr>
							<td>{{ logEntry.getLogger() }}</td>
							<td>{{ logEntry.getLevel() }}</td>
							<td>{{ logEntry.getMessage() }}</</td>        	
			        	
			        	</tr>
			        {% endfor %}
	        	</tbody>
	        </table>
        {% endfor %}
    {% else %}
        <p>
            <em>No logs available.</em>
        </p>
    {% endif %}

{% endblock %}